{
  "sourceMaps": true,
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "chrome >= 80"
        ]
      },
      "useBuiltIns": "usage",
      "debug": true
    }]
  ],
  "ignore": [ "node_modules" ]
}
